includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - src/

    level: 3

    ignoreErrors:
        - '#Access to an undefined property Helvetitec\\FlowEngine\\Examples\\ChatFlowExampleModel::\$cooldown_until#'
        - '#Access to an undefined property Helvetitec\\FlowEngine\\Examples\\ChatFlowExampleModel::\$context#'
        - '#Access to an undefined property Helvetitec\\FlowEngine\\Examples\\ChatFlowExampleModel::\$state_key#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
